langgraph
langchain
langsmith
python-dotenv
ipykernel

langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain-huggingface
langchain-chroma

pypdf
pymupdf
beautifulsoup4
arxiv
wikipedia

chromadb
faiss-cpu
sentence-transformers

pandas
openai
duckdb

ddgs
streamlit
